/* Global Reset & Variables */
:root {
    --bg-color: #000;
    --card-bg: rgba(12, 12, 12, 0.85);
    --card-border: rgba(255, 255, 255, 0.1);
    --card-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
    --accent-color: #fff;
    --text-primary: #ffffff;
    --text-secondary: #888;
    --text-muted: #ccc;
    --github-green: #2da44e;
    --font-main: 'Outfit', sans-serif;
    --transition-smooth: all 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    color: var(--text-primary);
    height: 100vh;
    overflow: hidden;
    /* Prevent scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}